@import "tailwindcss";

:root {
    color-scheme: dark;
    text-rendering: optimizeLegibility;
}

.card {
    @apply border p-4 w-full max-w-md rounded-md border-gray-300 bg-neutral-800;
}

.button {
    @apply px-4 py-2 rounded-md bg-neutral-700 text-white cursor-pointer;

    &:hover {
        @apply brightness-110;
    }

    &:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    &.button-tertiary {
        @apply bg-neutral-800;
    }
}

[data-part="content"][data-state="open"] {
    display: block;
    /* position: absolute; */
}
[data-part="content"][data-state="closed"] {
    /* display: none; */
}

.menu-item {
    @apply data-[highlighted]:bg-neutral-700 px-2 py-1 rounded-sm cursor-pointer flex items-center gap-2;
}

.context-menu__content,
.context-menu__sub-content {
    min-width: 220px;
    padding: 8px;
    @apply bg-neutral-800 border border-neutral-700 text-white;
    border-radius: 6px;
    /* border: 1px solid hsl(240 6% 90%); */
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    outline: none;
    transform-origin: var(--kb-menu-content-transform-origin);
    animation: contentHide 50ms ease-in forwards;

    hr {
        @apply my-1 border-neutral-700;
    }
}
.context-menu__content[data-expanded],
.context-menu__sub-content[data-expanded] {
    animation: contentShow 250ms ease-out;
}
.context-menu__item,
.context-menu__checkbox-item,
.context-menu__radio-item,
.context-menu__sub-trigger {
    @apply h-8 flex gap-1;
    font-size: 14px;
    line-height: 1;
    /* color: hsl(240 4% 16%); */
    border-radius: 4px;
    align-items: center;
    padding: 0 8px 0 8px;
    position: relative;
    user-select: none;
    outline: none;
}
.context-menu__sub-trigger[data-expanded] {
    background-color: hsl(204 94% 94%);
    color: hsl(201 96% 32%);
}
.context-menu__item[data-disabled],
.context-menu__checkbox-item[data-disabled],
.context-menu__radio-item[data-disabled],
.context-menu__sub-trigger[data-disabled] {
    color: hsl(240 5% 65%);
    opacity: 0.5;
    pointer-events: none;
}
.context-menu__item[data-highlighted],
.context-menu__checkbox-item[data-highlighted],
.context-menu__radio-item[data-highlighted],
.context-menu__sub-trigger[data-highlighted] {
    outline: none;
    background-color: hsl(200 98% 39%);
    color: white;
}
.context-menu__group-label {
    padding: 0 24px;
    font-size: 14px;
    line-height: 32px;
    color: hsl(240 4% 46%);
}
.context-menu__separator {
    height: 1px;
    border-top: 1px solid hsl(240 6% 90%);
    margin: 6px;
}
.context-menu__item-indicator {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.context-menu__item-right-slot {
    margin-left: auto;
    padding-left: 20px;
    font-size: 14px;
    color: hsl(240 4% 46%);
}
[data-highlighted] > .context-menu__item-right-slot {
    color: white;
}
[data-disabled] .context-menu__item-right-slot {
    color: hsl(240 5% 65%);
    opacity: 0.5;
}
@keyframes contentShow {
    from {
        opacity: 0;
        transform: scale(0.96);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes contentHide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.96);
    }
}
